<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.worka.eroyal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>


        <activity
            android:name=".feature.login.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.tasks.TasksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".feature.notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.mycustomers.MyCustomersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.report.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.myteam.MyTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.report.dailyvisitreport.DailyVisitReportDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.report.monthlyvisitreport.MonthlyVisitReportDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".feature.orders.OrdersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".feature.settings.ChangePasswordActivity" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="forgot-password"
                    android:scheme="eroyal" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NotificationsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorGreen" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notif_small" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>
</manifest>
